.main {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    margin: 0 auto;

    @media (max-width: 767px) {
      flex-direction: column;
      padding: 15px;
    }
  }

  &__imgBox {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-right: 10px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    padding: 0 15px;
  }
  
  &__box {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  &__listComment {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }

  &__listItem {
    margin-bottom: 10px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__buttonSend {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 100px;
    align-self: center;
    text-align: center;
    background-color: rgb(13, 140, 224);
    padding: 10px 15px;
    transition: box-shadow ease-in-out .5s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px #cbd6ee;
    }
  }

  &__input {
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    resize: none;
    overflow: auto;
    transition: border-color ease-in-out .5s;

    &:focus {
      outline: none;
      border-color: rgb(13, 140, 224);
    }
  }
}

